@value colors: "../../styles/styles.module.css";

@value backgroundPrimary, borderRadiusApp, paddingApp, textColor from colors;

.wrapper {
    min-height: calc(100vh - 100px);
    background-color: backgroundPrimary;
    box-sizing: border-box;
    padding: paddingApp;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 50px;
}

.yandexIcon {
    font-size: 30px;
}

@media (min-width: 800px) {
    .wrapper {
        border-radius: borderRadiusApp;
    }

    .title {
        font-size: 150px;
    }
}