@value styles: "../../../styles/styles.module.css";
@value backgroundPrimary, backgroundSecondary, backgroundSecondaryDark,backgroundSecondaryLight from styles;


.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;
    font-size: 50px;
    font-family: "Comic Sans MS", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    background: backgroundSecondaryDark;
    box-shadow: 0 -200px 100px -120px backgroundPrimary inset;
    animation: background 3s infinite alternate;
}

@keyframes background {
    50% {
        background: backgroundSecondaryLight;
        box-shadow: 0 -200px 100px -120px backgroundSecondary inset;
    }
}