@value styles: "../../../styles/styles.module.css";
@value borderRadiusApp, backgroundSecondary from styles;

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: backgroundSecondary;
    position: relative;
}