@value colors: "../../styles/styles.module.css";

@value backgroundPrimary, backgroundSecondary, textColor, borderRadiusApp from colors;

.wrapper {
    height: calc(100vh - 100px);
    position: relative;
}

.users {
    position: absolute;
    width: 100%;
    left: -100%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: backgroundPrimary;
    min-height: calc(100vh - 100px);
    transition: 300ms;
    z-index: 1;
    border: 1px solid backgroundSecondary;
    border-bottom: none;
    border-left: none;
    box-sizing: border-box;
}

.messages {
    position: absolute;
    width: 100%;
    background-color: backgroundPrimary;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: calc(100vh - 100px);
}

.buttonReturn {
    margin: 5px;
    height: 30px;
    width: 30px;
    border: none;
    background-color: backgroundSecondary;
    border-radius: 50%;
}

.users.showUsers {
    left:0;
}


.user {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.userPhotoBlock {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
}

.userPhoto {
    width: 50%;
}

.messageText {
    height: calc(100% - 110px);
    overflow-x: auto;
    display: flex;
    align-items: flex-end;
}

@media (min-width: 600px) {
    .wrapper {
        display: grid;
        grid-template-columns: 2fr 5fr;
    }

    .users {
        position: static;
    }

    .messages {
        position: static;
    }

    .buttonReturn {
        display: none;
    }

    .messageText {
        height: calc(100% - 70px);
    }
}

@media (min-width: 800px) {
    .wrapper {
        border-radius: borderRadiusApp;
    }

    .users {
        border-radius: borderRadiusApp 0 0 borderRadiusApp;
        border-top: none;
    }

    .messages {
        border-radius: 0 borderRadiusApp borderRadiusApp 0;
    }
}